<a href="https://colab.research.google.com/github/samadputhukudi1/samadputhukudi1/blob/main/class6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print ("values" ,i)

values 1
values 2
values 3
values 4
values 5

In [ ]:
a = ["mohith", "rohit", "shyam", "mohan"]
for i in a:
  print(i)

mohith
rohit
shyam
mohan

In [ ]:
a = ["mohith", "rohit", "shyam", "mohan"]
for i in a:
  print(f"weicome to the 6th class [i] ")

weicome to the 6th class [i]
weicome to the 6th class [i]
weicome to the 6th class [i]
weicome to the 6th class [i]

In [ ]:
squre = []
a = [1,2,3,4,5,6]

for i in a:
  squre.append (i**2)
print(squre)

[1, 4, 9, 16, 25, 36]

In [ ]:
dict(zip(a,squre))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
a

[1, 2, 3, 4, 5, 6]

In [ ]:
for i in a:
  if i%2 == 0:
    print(i**2)

4
16
36

In [ ]:
for i in a:
  if i%2 != 0:
    print(i**3)

1
27
125

In [ ]:
for i in a:
  if i%2 == 0:
    print(i**2)
  else:
    print(i**3)

1
4
27
16
125
36

In [ ]:
list (range (0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list (range (5,10))

[5, 6, 7, 8, 9]

In [ ]:
a = list (range (5,50))
a [:4]

[5, 6, 7, 8]

In [ ]:
for i in range(1,101):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
a = [1,2,3,4,5]
sum = 0
for i in a:
  sum = sum + i **2
print(sum)

55

In [ ]:
a = "i am the one who knoks "

for i in a:
  print(i)

i

a
m

t
h
e

o
n
e

w
h
o

k
n
o
k
s

In [ ]:
heisenberg_quote = "it ceases to exist without me. No you, you clearly don't know who you are talking to "

In [ ]:
heisenberg_quote= heisenberg_quote.split(' ')
print(heisenberg_quote)

['it', 'ceases', 'to', 'exist', 'without', 'me.', 'No', 'you,', 'you', 'clearly', "don't", 'know', 'who', 'you', 'are', 'talking', 'to', '']

In [ ]:
for i in heisenberg_quote:
  print(i)

it
ceases
to
exist
without
me.
No
you,
you
clearly
don't
know
who
you
are
talking
to

In [ ]:
days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]

In [ ]:
for i in days:
  print(i[:4])

sund
mond
tues
wedn
thur
frid
satu

In [ ]:
[]  #mon
    #tues
    #wednes
    #thurs
    #fri
    #sat
    #sun

[]

In [ ]:
a = {"mohith" : "sharma", "rohit":"sing", "shyam":"praksh", "mohan":"sha"}
print(a.items())

dict_items([('mohith', 'sharma'), ('rohit', 'sing'), ('shyam', 'praksh'), ('mohan', 'sha')])

In [ ]:
for i,j in a.items():
  print(i)

mohith
rohit
shyam
mohan

In [ ]:
for i,j in a.items():
  print(j)

sharma
sing
praksh
sha

In [ ]:
for i,j in a.items():
  print(i,j)

mohith sharma
rohit sing
shyam praksh
mohan sha

In [ ]:
a = 1
while a < 10:
  print("hello")
  a = a + 1

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
a = 10
while a < 15:
  print(a)
  a = a + 1
else:
    print("bye")

10
11
12
13
14
bye

In [ ]:
a = [1,2,3,4]
for i in a:
  print(i)
  if i == 3:
    break

1
2
3

In [ ]:
a = [1,2,3,4,5,6]
for i in a:
  print(i)
  if i == 3:
    continue
    print(i)

1
2
3
4
5
6

In [ ]:
a = 10
if a == 10:
  pass